@charset "ISO-8859-1";

#navbar{
	overflow: hidden;
  	background-color: #333;
  	position: fixed;
  	top: 0;
  	width: 100%;
	}
.row{
	margin:45px;
	padding: 20px;
	}
.card{
	top:40px;
}
button{
	margin: 10px;
	}
.cartbutton{
	margin-left: 10px;	
}